@import 'tailwindcss';
@plugin "daisyui" {
    themes: colectividapp --default, dim;
}

/*noinspection ALL*/
@plugin "daisyui/theme" {
    name: "colectividapp";
    color-scheme: "light";
    --font-sans: "Delius";
    exclude: rootscrollgutter, rootcolor;
    --color-base-100: oklch(98% 0.001 106.423);
    --color-base-200: #F7F6F0;
    --color-base-300: oklch(52% 0.154 150.069);
    --color-base-content: oklch(21% 0.006 56.043);
    --color-primary: oklch(52% 0.154 150.069);
    --color-primary-content: oklch(98% 0.001 106.423);
    --color-secondary: oklch(69% 0.17 162.48);
    --color-secondary-content: oklch(98% 0.003 247.858);
    --color-accent: oklch(66% 0.179 58.318);
    --color-accent-content: oklch(14.125% 0.023 185.713);
    --color-neutral: oklch(52% 0.154 150.069);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(72.06% 0.191 231.6);
    --color-info-content: oklch(0% 0 0);
    --color-success: oklch(64.8% 0.15 160);
    --color-success-content: oklch(98% 0.003 247.858);
    --color-warning: oklch(84.71% 0.199 83.87);
    --color-warning-content: oklch(0% 0 0);
    --color-error: oklch(71.76% 0.221 22.18);
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}


/*noinspection ALL*/
@plugin "daisyui/theme" {
    name: "dim";
    --color-primary: oklch(52% 0.154 150.069);
    --color-primary-content: oklch(98% 0.001 106.423);
}

/*noinspection ALL*/
@font-face {
    font-family: 'Delius';
    font-style: normal;
    src: url('/fonts/Delius-Regular.ttf') format('truetype');
}

/*noinspection ALL*/
@font-face {
    font-family: 'Delius Unicase';
    font-style: normal;
    src: url('/fonts/DeliusUnicase/Delius_Unicase-Regular.ttf') format('truetype');
}

/*noinspection ALL*/
@font-face {
    font-family: 'Delius Unicase';
    font-style: bold;
    src: url('/fonts/DeliusUnicase/Delius_Unicase-Bold.ttf') format('truetype');
}

/*noinspection ALL*/
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    src: url('/fonts/PoiretOne-Regular.ttf') format('truetype');
}

/*noinspection ALL*/
@font-face {
    font-family: 'Scope One';
    font-style: normal;
    src: url('/fonts/ScopeOne-Regular.ttf') format('truetype');
}

/*noinspection ALL*/
@font-face {
    font-family: 'Shadows Into Light';
    font-style: normal;
    src: url('/fonts/ShadowsIntoLight-Regular.ttf') format('truetype');
}


:root:has(input.theme-controller[value=dim]:checked),[data-theme="dim"] { /* mytheme is the name of the custom theme */
    .leaflet-layer,
    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out,
    .leaflet-control-attribution {
        filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    }

    .leaflet-container {
        background: var(--color-base-200);
    }
}


.card {
    border: 1px solid var(--color-base-300);
}